<h1>Your Shows are Coming!</h1>

<div id="Calendar-container">
  <div class="container">
    <div class="calendar-titles">
      <%= @profile.name %>
      <% @profile.shows.each do |show| %>
        <a href="">
          <%= show.name %>
        </a>
      <% end %>
    </div>
    <div id="calendar-slideshow">
      <div class="day">
        <div class="head">
        </div>
      </div>
    </div>
  </div>
</div>
