
<p class="copy">
  TV Tracker is the best place get your tv fix.  It shows you when you favorite shows are playing at the touch of your fingertips.  Find when the new episodes of your favorite shows are coming easily and efficiently on any devise.  Browse hundreds of new shows and thousands classics all at once.  You no longer need to search the interent for each and every show.  Just visit us.  All of your shows on one ez page.
</p>

<div id="example_callouts">
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-sm-4 xs-text-center">
        <div class="example_co">
          <%= image_tag("example_co1.jpg", :alt => "Your calendar") %>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4 xs-text-center">
        <div class="example_co">
          <%= image_tag("example_co2.jpg", :alt => "Your show list") %>
        </div>
      </div>

      <div class="col-xs-11 col-sm-4 xs-text-center">
        <div class="example_co">
          <%= image_tag("example_co3.jpg", :alt => "All the shows you could ever watch") %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to "Customize your tv", shows_path, :class => 'button customize' %>


