
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require reset
 *= require_self
 *= require profiles
 *= require scaffolds
 *= require shows
 */


.xs-text-left{
  text-align:left;
}

.xs-text-center{
  text-align:center;
}

.xs-text-right{
  text-align:right;
}


/* Small devices (tablets, 768px and ) */
@media (max-width: 765) { 
  header .logo{
    width:80%!important;
    margin:10px auto!important;
  }
}



/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
  .sm-text-left{
    text-align:left;
  }

  .sm-text-center{
    text-align:center;
  }

  .sm-text-right{
    text-align:right;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
  .md-text-left{
    text-align:left;
  }

  .md-text-center{
    text-align:center;
  }

  .md-text-right{
    text-align:right;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 
  .lg-text-left{
    text-align:left;
  }

  .lg-text-center{
    text-align:center;
  }

  .lg-text-right{
    text-align:right;
  }
}


.alert-box{
  display:none!important;
}

.container{
  width:100%;
  max-width:990px;
  margin:0 auto;
}

.block{
  display:block;
}

/*
.third{
  width:32.5%;
  display:inline-block;
}*/

.poster {
  width: 350px;
  height: auto;
}

header{
  width:100%;
  background: #1895D3; /* Old browsers */
  background: -moz-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1895D3), color-stop(100%,#0E5D8A)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1895D3 0%, #0E5D8A 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1895D3', endColorstr='#0E5D8A',GradientType=0 ); /* IE6-9 */
}


header .logo{
  margin-top:20px;
  margin-bottom:20px;
}

.search{
  text-align:left;
}
.search input[type=text]{
  width:60px;
  font-size:13px;
}

header .sign_in_nav{
  text-align:right;
}

header nav{
  position:relative;
  width:100%;
  float:left;
}

.profile-links nav{
  width:50%;
}

header nav > a {
  width:100%;
  text-align:center;
  padding:10px 0;
}

header nav a{
  font-family: 'Source Sans Pro', sans-serif;
  font-size:1.6rem;
  color:white!important;
  text-decoration:none!important;
  padding:10px 10px;
  margin-top:10px;
  background:none!important;
  display:inline-block;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

header a:hover{
  color:#27C228!important;
}

header nav ul{
  display:none;
  position:absolute;
  width:250px;
  top:70%;
  left:0;
  text-align:left;
}

header nav:hover ul{
  display:block;
  /*background: #1895D3;*/
  /*background: rgba(18, 129, 204, .9);*/
}

header nav ul li{
  display:inline;
}

header nav ul li a{
  text-align:left;
  padding:5px;
}

header .search_bar{
  margin-top:20px;
}

header .search_bar input[type=text]{
  width:100%;
  max-width:120px;
}


.banner{
  overflow:hidden;
  width:100%;
  margin-bottom:30px;
}
.banner img{
  display:block;
  position:relative;
  left:50%;
  margin-left:-1000px;
}

#example_callouts{
  width:100%;
  background:#48A8D0;
  margin-top:30px;
  margin-bottom:30px;
  padding-top:20px;
  padding-bottom:20px;
}

#example_callouts .example_co{
  background:white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  max-width:200px;
  width:80%;
  display:block;
  margin:0 auto;
  height:50px;
}


.button{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow:    3px 3px 3px 0px rgba(0, 0, 0, 0.4);
  box-shadow:         3px 3px 3px 0px rgba(0, 0, 0, 0.4);

  background: #1895D3; /* Old browsers */
  background: -moz-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1895D3), color-stop(100%,#0E5D8A)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #1895D3 0%, #0E5D8A 100%); /* IE10+ */
  background: linear-gradient(to bottom, #1895D3 0%, #0E5D8A 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1895D3', endColorstr='#0E5D8A',GradientType=0 ); /* IE6-9 */
}

.button:hover{
  color:#27C228!important;
  background: #0E5D8A; /* Old browsers */
  background: -moz-linear-gradient(top, #0E5D8A 0%, #1895D3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0E5D8A), color-stop(100%,#1895D3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #0E5D8A 0%, #1895D3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #0E5D8A 0%, #1895D3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #0E5D8A 0%, #1895D3 100%); /* IE10+ */
  background: linear-gradient(to bottom, #0E5D8A 0%, #1895D3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0E5D8A', endColorstr='#1895D3',GradientType=0 ); /* IE6-9 */
}


a.button{
  display:block;
  max-width:250px;
  color:white!important;
  text-decoration:none!important;
  text-align:center;
  font-size:22px;
  padding:30px 30px;
}



a.customize{
  margin:20px auto;
  font-size:22px;
  padding:30px 30px;
}

