#calendar__container{
  position:relative;
  width:80%;
  height:100%;
  max-height:700px;
  margin-top:25px;
  border:1px solid #cbcbcb;
}

.calendar__hider{
  width:100%;
  height:100%;
  overflow:hidden;
  position:relative;
}

#calendar__container .calendar__titles{
  position:relative;
  top:0;
  left:0;
  z-index:3000;
  width:50%;
  max-width:220px;
  /*border-right:3px solid #4c4c4c;*/
}
.calendar__titles .calendar__banner{
  display:block;
  height: 40px;
  border-bottom:3px solid #4c4c4c;
  width: 100%;
}
.calendar__title--header {
  font-size: 1em;
  line-height:1em;
  padding: .4em;
  color: white;
}
.calendar__titles :nth-child(2) .calendar__banner{
  border-top:3px solid #4c4c4c;
}
.calendar__titles a:last-child .calendar_banner{
  border-bottom:none;
}
#calendar__slideshow{
  position:absolute;
  left:220px;
  top:0;
  z-index:1;
  width:6100px;
  transition:left 1.5s;
}

.calendar__row{
  border-bottom:3px solid #4c4c4c;
}

.calendar__row:last-child{
  border-bottom:none;
}

.calendar__spacer{
  height:40px;
  background:#476145;
  color:white;
  text-align:center;
  font-size:1.3em;
}

.calendar__row .calendar__item{
  height: 40px;
  float:left;
  width:5em;
  text-align:center;
  border-right:3px solid #4c4c4c;
}

.calendar__item.head{
  font-size:1em;
  font-weight:bold;
  color: #476145;
}

.calendar__item.time.full{
  background:#614556;
  color:white;
}

.calendar__item.time.empty{
  background: #cbcbcb;
}
.calendar__show_slider{
  width: 90%;
  margin:20px auto;
  position:relative;
  overflow: visible;
}

.calendar__slideshow_nav{
  height:1px;
  overflow: visible;
  position:absolute;
  width:100%;
  top:35%;
  left:-6%;
}
#calendar__slideshow:hover{
  opacity: .8;
}
.calendar__show_slider_left{
  background:center left;
  left:33%;
}

.calendar__show_slider_right{
  background: center right;
  right:0%;
}

.calendar__show_slider_left,
.calendar__show_slider_right{
  background-size: 100% 100%;
  width:45px;
  height:45px;
  position:absolute;
  cursor:pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index:4000;
}
.no-display {
  display: none;
}
