.login-page {
  display:block;
  position: relative;
}
.tracker_form_wrapper {
  border: 0.085em solid #cbcbcb;
  border-radius: 0.85em;
  line-height: 2em;
  background-color: #f2f2f2;
  padding: 5%;
  margin: 5%;
}
.actions {
  margin-top: 10px;
}
.actions input{
  background-color: #476145;
  color: white;
  font-size: 18px;
  padding:7px;
  border-radius: 5px;
}
.actions input:hover{
  background-color: #4d4d4d;
}
.field input {
  height: 30px;
  min-width: 300px;
  font-size: 18px;
}
#user_remember_me {
  height: 20px;
  width:20px;
  text-indent: -9999px;
}
.checkbox {
  margin-top: 5px;
}
