/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  min-height: 100%;
  min-width: 100%;
  background-color: white;
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  background-size: 200%;
}
.newbanner {
  background-color: #e3e3e3;
}
.logo {
  min-width: 60px;
  margin: 1%;
}
footer p {
  margin-bottom: 3%;
  text-align: center;
  padding-top: 3%;
  border-top: 0.225em solid #bfbfbf;
  color: #bfbfbf;
}
.poster:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.block {
  float:left;
}
.poster-link{
  position:relative;
  display:block;
}
.poster-link img.poster{
  width:100%;
  position:relative;
  z-index:1;
}
.plus_sign {
  width: 60px;
  height: 60px;
  display:none;
  position:absolute;
  z-index: 2000;
  top:45%;
  left:45%;
  opacity: 0.6;
  filter: alpha(opacity=80);
}

