.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: 82%;
  z-index: 0;
  list-style: none;
  background: #476145;
}

.nav-item {
  width: 100%;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
  display: block;
}

/* Nav Trigger */
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.nav-item a {
  display: block;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #4c4c4c;
}

label[for="nav-trigger"] {
  position: fixed;
  left: calc(100% - 6.25em);
  top: 1.25em;
  z-index: 2;
  height: 2.5em;
  width: 5em;
  padding: .5em;
  top: 34px;  /*calc from height of logo*/
  text-align: center;
  border-left: solid 1px #4c4c4c;
  cursor: pointer;
  background-size: contain;
}

@media(max-width: 800px) {  /* smaller (mobile)*/
  .site-wrap {
    z-index: 0;
  }

  .navigation {
    top: 100%;
    right: 0;
    bottom:  0;
    left:0;
    z-index: 1;
    opacity: 0.85;
    background: #476145;
  }

  /* Navigation Menu - List items */
  .navigation {
    transition: top 0.2s;
  }

  .nav-trigger:checked ~ .navigation {
    top: calc(100% - 19.5em);
  }
}

@media (min-width: 800px) {  /* larger */

  /* Navigation Menu - List items */
  .nav-item {
    width: 18%;
    border-top: 1px solid #111;
    border-bottom: 1px solid #000;
  }

  .nav-trigger + label, .site-wrap {
    transition: left 0.2s;
  }

  .nav-trigger:checked + label {
    left: calc(100% - 6.25em - 18%);
  }

  .nav-trigger:checked ~ .site-wrap {
    left: -18%;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
  }
}

body {
    /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}
.clearfix{
  overflow:auto;
  zoom:1;
}
/* Micro reset */
/**,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
*/
