/*.settings:nth-child(1) {
  background-color: #e3e3e3;
}*/
.rounded {
  margin: 1%;
  border-radius: 20px;
  float:left;
}
.rounded a:hover {
  opacity: 80%;
}
.grey {
  background-color: #e3e3e3;
  padding:4%;
  padding-top: 2%;
}
/*
.profile_pic.sm{
  max-width:50px;
  margin-top:10px;
}*/

/*.profile a:hover{
  background:none;
}*/

.profile_name{
  margin-top: 10%;
  display: inline;
}
.profile_name~p{
  display:inline;
}
.profile_checkbox {
  height: 20px;
  width:20px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.h1profile {
  margin-top: 15px;
  line-height: 24px;
}
.chooser {
  position: relative;
  width: 16%;
  display: inline;
  margin-left: 10px;
}
.options {
  padding: 5%;
}
.field {
  height: 30px;
  min-width: 300px;
  font-size: 18px;
}
.add_button {
  margin:0%;
}

/*
.profile-pic {
  width:100%;
  max-width:110px;
  float:left;
  margin-right:15px;
  padding:2px;
}

.profile-pic:hover,
.profile-pic.selected{
  border:solid 2px rgb(251, 74, 32);
}

.profile img,
.profile-pic img{
  background: rgb(71, 156, 215);
}
*/
