/*.settings:nth-child(1) {
  background-color: #e3e3e3;
}*/
.rounded {
  margin: 5%;
  border-radius: 20px;

}
.grey {
  background-color: #e3e3e3;
}
/*
.profile_pic.sm{
  max-width:50px;
  margin-top:10px;
}*/

/*.profile a:hover{
  background:none;
}*/

.profile .name{
  margin-top: 10%;
  display: inline;
}
/*
.profile-pic {
  width:100%;
  max-width:110px;
  float:left;
  margin-right:15px;
  padding:2px;
}

.profile-pic:hover,
.profile-pic.selected{
  border:solid 2px rgb(251, 74, 32);
}

.profile img,
.profile-pic img{
  background: rgb(71, 156, 215);
}
*/
