<div class="profile-links">
  <%= link_to "Browse", shows_path %>
  <%= link_to "My Shows", profile_path(@current_profile) %>
  <%= link_to "Calendar", profile_shows_path(@current_profile) %>
  <%= link_to "Profiles", profiles_path %>
</div>


